<header>
  <div class="header-inner">
    <h1>アプリ名</h1>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item">ログイン</li>
        <li class="header-nav-list-item">新規登録</li>
      </ul>
    </nav>
  </div>
</header>
<div class="mv">
  <h2>自分の知識を<br>共有しよう！</h2>
</div>
<section class="lists">
  <div class="list-inner">
    <h2 class="list-ttl">
    ランキング
    </h2>
    <div class="list-card-wapper">
      <div class="list-card">
        <%#= @image %>
        <div class="card-info">
          <h3>題名</h3>
        </div>
      </div>
      <div class="list-card">
        <%#= @image %>
        <div class="card-info">
          <h3>題名</h3>
        </div>
      </div>
      <div class="list-card">
        <%#= @image %>
        <div class="card-info">
          <h3>題名</h3>
        </div>
      </div>
    </div>
    <a href="#" class="btn">全て表示する</a>
  </div>
</section>

<section>
  <div class="list-inner">
    <h2 class="list-ttl">
    新着
    </h2>
    <div class="list-card-wapper">
      <div class="list-card">
        <%#= @image %>
        <div class="card-info">
          <h3>題名</h3>
        </div>
      </div>
      <div class="list-card">
        <%#= @image %>
        <div class="card-info">
          <h3>題名</h3>
        </div>
      </div>
      <div class="list-card">
        <%#= @image %>
        <div class="card-info">
          <h3>題名</h3>
        </div>
      </div>
    </div>
    <a href="#" class="btn">全て表示する</a>
  </div>
</section>