<% if Like.find_by(user_id: current_user.id, idea_id: @idea.id) %>
    <%= link_to (idea_like_path(@idea.id)), {method: "delete"} do %>
      <span class="fa fa-heart like-btn-unlike"></span>
    <% end %>
<% else %>
    <%= link_to (idea_likes_path(@idea.id)), {method: "post"} do %>
      <span class="fa fa-heart like-btn"></span>
    <% end %>
<% end %>
<%= @likes_count %>