* {
  color: #333333;
  line-height: 1.5;
}

ul {
  list-style: none;
}

.search-form {
  width: 50%;
  display: flex;
}

.search-btn {
  width: 25%;
}

/* headerのcss */
img {
  max-width: 100%;
  height: auto;
}

header {
  height: 80px;
  background-color:#000000;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  max-width: 980px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h1 a {
  text-decoration: none;
  color: #ffffff;
}

.writers {
  padding-left: 10px;
}

.writer {
  text-decoration: none;
  font-weight: bold;
}

.writer:hover {
  opacity: 0.8;
}


.header-nav-list {
  display: flex;
  
}

.header-nav-list-item {
  text-decoration: none;
  padding: 6px;
  margin-right: 1em;
  font-weight: bold;
  color: #ffffff;
}

.header-nav-list-item:hover {
  opacity: 0.8;
  color: rgb(233, 152, 3);
}

.search-btn {
  display: none;
}

.fa-search {
  margin-top: 3px;
}

.fa-search:hover {
  opacity: 0.8;
}

/* footer */
footer {
  height: 20%;
  background-color: #f5f5f5;
  padding:30px;
  text-align: center;
}

small {
  color: #9b9797;
}

/* footer */
.mv {
  height: 460px;
  background-image: image-url('3802300_s.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.mv h2 {
  color: #ffffff;
  font-size: 41px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  line-height: 2;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.lists {
  background-color: #ffffff;
}

.list-inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 77px 20px 48px;
}

.list-ttl {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 73px;
  text-align: center;
}

.list-card-wapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
}

.list-card {
  width: 32%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  margin-bottom: 80px;
  border-radius: 5px;
}

.list-pict {
  width: 33vh;
  height: 33vh;
}

.card-info {
  padding: 12px;
}

.btn {
  display: block;
  border-radius: 5px;
  text-align: center;
  width: 250px;
  padding: 15px 0;
  color: #ffffff;
  background-color: rgb(233, 152, 3);
  border: 1px solid rgb(233, 152, 3);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.8;
}
