.session-main {
  width: 100vw;
  min-width: 800px;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.sign-in-flash-message {
  text-align: center;
  color: red;
}
.sign-in-btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.sign-in-green-btn {
  background: #b5cd60;
  border: 0;
  width: 25%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.sign-in-green-btn:hover {
  opacity: 0.8;
}